<section class="d-flex justify-content-center align-items-center vh-100">
    <form #formLogin="ngForm" (ngSubmit)="login(formLogin)" style="width: 40%;">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
    </form>
</section>