<section class="d-flex justify-content-center align-items-center vh-100 w-100">
    <div class="row" style="width: 70%;">
        <div class="col-md-6 col-12 d-flex justify-content-center align-items-center py-2">
            <img src="assets/images/logo2.png" width="200px" height="200px" alt="Logo">
        </div>
        <form #formLogin="ngForm" (ngSubmit)="login(formLogin)" class="col-md-6 col-12">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" ngModel>
            </div>
            <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
        </form>
    </div>
</section>